* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}

body {
  background-color: #000000;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#main-Container {
  border: 1px solid red;
  flex: 1 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
}

.content-Header {
  flex: 1 0 auto;
  border: 1px solid #2b352b;
  background-color: #000000;
  width: 100%;
  min-height: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.img-LogoHeader {
  width: 200px;
}

.navBar-Header {
  display: flex;
  gap: 10px 15px;
}
.buttonNavBar-Header {
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px;
  transition: ease-in-out 0.5s;
}

.buttonNavBar-Header:hover {
  border-bottom: 2px solid #50964e;
  transform: translate(0, 2px);
  cursor: pointer;
}

/*Inicio  section-MainContent*/
.section-MainContent {
  flex: 1 0 auto;
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} /*Fim section-MainContent*/

/*Inicio main-ContentHome */
.main-ContentHome {
  background-color: #0c0c0c;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 20px 0;
}

.box-ContentHome {
  width: 880px;
  height: auto;
  display: flex;
  justify-content: end;
}

.AspasContetHome {
  width: 200px;
  opacity: 0.09;
}

.box-ContentTextHome {
  width: 800px;
  height: 500px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.text-ContentTextHome {
  color: #ffffff;
  font-size: 30px;
}

.box-ContactIcons {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
  align-items: end;
}

.img-ContactIcons {
  background-color: #c0ecbe;
  border-radius: 100%;
  width: 80px;
} /*Fim main-ContentHome */

/*Inicio stylo main-AreaStudy*/
.main-Knowledge {
  border: 1px solid #075c2a;
  background-color: #0c0c0c;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 20px 0;
}

.title-Knowledge {
  color: #ebf1ea;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
}

.iconsContentMain-AreaStudy {
  border: 1px solid #50964e;
  width: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px 0;
  margin: 20px 0;
}
/*Fim stylo main-AreaStudy*/

/*Inicio stylo main-ContentProjects*/
.main-ContentProjects {
  border: 1px solid #075c2a;
  background-color: #0c0c0c;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 20px 0;
}
.titleAndText-ContentProject {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.title-ContentProjects {
  color: #ebf1ea;
  font-size: 32px;
  font-weight: 600;
  padding: 15px 0;
}

.content-cardProjects {
  border: 1px solid blue;
  flex: 1 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 25px;
}

.cards-MainContetntProjects {
  background-color: #ebf1ea;
  border-radius: 15px;
  width: 350px;
  height: 350px;
}

.img-CardsProjects {
  width: 350px;
  height: 350px;
  border-radius: 12px;
}

/*Fim stylo main-ContentProjects*/
.content-Footer {
  border-top: 0.2px solid #2b352b;
  background-color: #000000;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.img-LogoNomeFooter {
  width: 200px;
}
.button-TopFooter {
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  padding: 5px;
  transition: ease-in-out 0.5s;
}

.button-TopFooter a {
  text-decoration: none;
  color: #ffffff;
}

.button-TopFooter:hover {
  border-top: 2px solid #50964e;
  border-bottom: 2px solid #50964e;
  transform: translate(0, 2px);
  cursor: pointer;
}
